<!-- ko if: recs().length -->
<div class="widget block block-static-block">
    <div class="block widget block-products-list grid">
        <div class="block-content">
            <div class="products wrapper grid products-grid">
                <div data-bind="foreach: { data: recs(), afterRender: loadJsAfterKoRender }">
                    <div data-bind="attr : {'data-unit-id' : unitId }">
                        <!-- ko if: products.length -->
                        <div class="block-title title">
                            <b>
                                <span class="block-related-heading" role="heading" aria-level="2" text="storefrontLabel"></span>
                            </b>
                        </div>
                        <!-- /ko -->

                        <ol class="products list items product-items" data-bind="foreach: products">
                            <li class="item product product-item">
                                <div class="product-item-info" data-container="product-grid">
                                    <!-- ko if: $parents[1].isAlternateEnvironmentEnabled -->
                                    <a tabindex="-1"
                                       class="product photo product-item-photo"
                                       data-bind="attr : {'data-sku' : sku, 'data-unit-id' : $parent.unitId, href: 'javascript:void(0);' }"
                                    >
                                        <img data-bind="attr: {src: image.url}"/>
                                    </a>
                                    <!-- /ko -->

                                    <!-- ko if: !$parents[1].isAlternateEnvironmentEnabled -->
                                    <!-- ko if: image && image.url -->
                                    <a tabindex="-1"
                                       class="product photo product-item-photo"
                                       data-bind="attr : {'data-sku' : sku, 'data-unit-id' : $parent.unitId, href: url }"
                                    >
                                        <img data-bind="attr: {src: image.url}"/>
                                    </a>
                                    <!-- /ko -->

                                    <!-- ko if: !image || !image.url -->
                                    <a tabindex="-1"
                                       class="product photo product-item-photo"
                                       data-bind="attr : {'data-sku' : sku, 'data-unit-id' : $parent.unitId, href: url }"
                                    >
                                        <img attr="src: " data-bind='attr: {src: $parents[1].placeholderUrl}'/>
                                    </a>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <div class="product details product-item-details">
                                        <!-- ko if: $parents[1].isAlternateEnvironmentEnabled -->
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link"
                                               data-bind="attr : {'data-sku' : sku, 'data-unit-id' : $parent.unitId, href: 'javascript:void(0);' }"
                                            >
                                                <span html="name"></span>
                                            </a>
                                        </strong>
                                        <!-- /ko -->

                                        <!-- ko if: !$parents[1].isAlternateEnvironmentEnabled -->
                                        <strong class="product name product-item-name">
                                            <a class="product-item-link"
                                               data-bind="attr : {'data-sku' : sku, 'data-unit-id' : $parent.unitId, href: url }"
                                            >
                                                <span html="name"></span>
                                            </a>
                                        </strong>
                                        <!-- /ko -->

                                        <div class="price-box price-final_price" data-role="priceBox"
                                        >
                                            <!-- ko if: prices && prices.minimum && prices.minimum.final -->
                                            <span class="normal-price">
                                                <span class="price-container price-final_price">
                                                    <span class="price-label">As low as</span>
                                                    <span id="product-price" class="price-wrapper ">
                                                        <span class="price"
                                                              data-bind="text: $parents[1].priceUnits.formatPrice( prices.minimum.final, $parents[1].priceFormat)"
                                                        ></span>
                                                    </span>
                                                </span>
                                            </span>
                                            <!-- /ko -->
                                        </div>

                                        <div class="product-item-inner" data-bind="if: $data.productId && $data.addToCartAllowed">
                                            <div class="product-item-actions">
                                                <div class="actions-primary">
                                                    <form
                                                            data-role="tocart-form"
                                                            data-bind="attr : {action: addToCart.url}"
                                                            method="post"
                                                    >
                                                        <input
                                                                type="hidden"
                                                                name="product"
                                                                data-bind="attr : {value: productId}"
                                                        >
                                                        <input
                                                                type="hidden"
                                                                name="uenc"
                                                                data-bind="attr : {value: addToCart.postUenc}"
                                                        >
                                                        <input
                                                                type="hidden"
                                                                name="form_key"
                                                                data-bind="attr : {value: addToCart.form_key}"
                                                        >
                                                        <button
                                                                type="submit"
                                                                title="Add to Cart"
                                                                class="action tocart primary"
                                                                data-bind="attr : {'data-sku' : sku, 'data-unit-id': $parent.unitId }"
                                                        >
                                                            <span>Add to Cart</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
